# Import Dependencies

In [1]:
import json
import os
import pymongo
import pandas as pd
from config import MONGODB_URL

# Read the data from Remote MongoDB

In [2]:
# Establish connection to remote MongoDB
conn = MONGODB_URL
client = pymongo.MongoClient(conn)

In [3]:
# Define the 'diethabitsDB' database in MongoDB
db = client.diethabitsDB

In [4]:
# Query all rows
collection = db.countyleveldiethabits.find()

data_df = pd.DataFrame(list(collection))
data_df

,_id,FIPS,State,County,Year,% Adults with Obesity,% Adults with Diabetes,% Limited Access to Healthy Foods,Food Environment Index,% Physically Inactive,...,Income Ratio,Median Household Income,Household Income (Asian),Household Income (Black),Household Income (Hispanic),Household Income (White),"Expenditures per capita, fast food","Expenditures per capita, restaurants",Direct farm sales per capita,"Direct farm sales per capita (% change), 2007 - 12"
0,5fe5376cc068126036c75ce7,1000.0,Alabama,NaN,2020.0,35.5,14.2,7.921425,5.8,29.8,...,5.261136,49881.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5fe5376cc068126036c75ce8,1001.0,Alabama,Autauga,2020.0,33.3,11.1,11.991125,7.2,34.7,...,5.234597,59338.0,NaN,27643.0,83423.0,65047.0,NaN,NaN,NaN,NaN
2,5fe5376cc068126036c75ce9,1003.0,Alabama,Baldwin,2020.0,31.0,10.7,5.424427,8.0,26.5,...,4.417767,57588.0,34763.0,31112.0,43279.0,59418.0,NaN,NaN,NaN,NaN
3,5fe5376cc068126036c75cea,1005.0,Alabama,Barbour,2020.0,41.7,17.6,10.739667,5.6,23.5,...,5.681410,34382.0,50417.0,23013.0,30417.0,47031.0,NaN,NaN,NaN,NaN
4,5fe5376cc068126036c75ceb,1007.0,Alabama,Bibb,2020.0,37.6,14.5,2.601627,7.8,33.5,...,4.368581,46064.0,NaN,34000.0,42708.0,50769.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39603,5fe5376cc068126036c7f79a,56037.0,WY,Sweetwater,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-45.299696
39604,5fe5376cc068126036c7f79b,56039.0,WY,Teton,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1032.248698
39605,5fe5376cc068126036c7f79c,56041.0,WY,Uinta,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39606,5fe5376cc068126036c7f79d,56043.0,WY,Washakie,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39607,5fe5376cc068126036c7f79e,56045.0,WY,Weston,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Read US County GeoJSON File

In [5]:
# Read JSON
filepath = os.path.join("..", "static", "data", "US_Counties_Geometry.json")
with open(filepath) as geoJSONFile:
    geoJsondata = json.load(geoJSONFile)